internal/n8n/test-data/infinite_loop.json
{
	"name": "My workflow 2",
	"nodes": [
		{
			"parameters": {},
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [
				64,
				-304
			],
			"id": "6c12da47-3214-49a0-9720-7953380763da",
			"name": "When clicking ‘Execute workflow’"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "e1163210-af11-4100-81c7-618aac7b2ad1",
							"name": "hello",
							"value": "world",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				320,
				-192
			],
			"id": "aab5c981-5607-477c-8d85-e099223b4564",
			"name": "Edit Fields"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 3
					},
					"conditions": [
						{
							"id": "a79f927a-50f9-42e5-8b81-36802d8ea2e0",
							"leftValue": "={{ $json.hello }}",
							"rightValue": "world",
							"operator": {
								"type": "string",
								"operation": "equals"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.3,
			"position": [
				544,
				-192
			],
			"id": "4ba9149c-f395-40db-b288-e0c41423a000",
			"name": "If"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "8f70c964-9479-4fe6-a662-54fcaedab50e",
							"name": "bin",
							"value": "bar",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [
				816,
				-208
			],
			"id": "acf2c8aa-3ce2-4098-9a9e-e095cb0cf399",
			"name": "Edit Fields1"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [
				1104,
				-208
			],
			"id": "e830d40d-adc5-4440-8492-3162c8d22c4b",
			"name": "checking"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [
				1312,
				-208
			],
			"id": "da5548df-6d81-475d-9e7a-85e58b4381cc",
			"name": "another"
		}
	],
	"pinData": {},
	"connections": {
		"When clicking ‘Execute workflow’": {
			"main": [
				[
					{
						"node": "Edit Fields",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Edit Fields": {
			"main": [
				[
					{
						"node": "If",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If": {
			"main": [
				[
					{
						"node": "Edit Fields1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Edit Fields1": {
			"main": [
				[
					{
						"node": "Edit Fields",
						"type": "main",
						"index": 0
					},
					{
						"node": "checking",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"checking": {
			"main": [
				[
					{
						"node": "another",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1",
		"binaryMode": "separate",
		"availableInMCP": false
	},
	"versionId": "da28276f-6046-415e-9311-47c8a9f99f3d",
	"meta": {
		"instanceId": "757dc90212a91dc1c87095a6b6ec75eb430ba39b69f22ad5db4a24f9637fa66e"
	},
	"id": "FVqeam3jvNfGB1K6",
	"tags": []
}
